@import "mini-default.min.css";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import "iziToast.min.css";

:root {
  --header-fore-color: white;
  --header-back-color: #4F69C1;
  --header-border-color: #4F69C1;
  --a-link-color: #4F69C1;
  --a-visited-color: #4F69C1;
  --fore-color: white;
  --back-color:#384F9E;
  --highlight-color: #F2C94C;
}
* {
  font-family: Quicksand, arial, sans, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 0 2.5%;
  height: 85px;
  display: flex;
  align-items: center;
}

header .logo-container {
  float: left;
  width: 50px;
  height: 50px;
  background: var(--fore-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 0.5%;
}

header .logo {
  padding: 0;
}

header nav {
  background: none;
  border: none;
  margin: 0;
}

header nav ul {
  text-align: right;
}

header nav li {
  display: inline;
  padding: 0;
}

header nav a {
  display: inline-block;
  font-size: 18px;
}

header nav a:hover,
header nav a:visited:hover {
  transition: 0.5s;
  color: var(--highlight-color);
}

header nav a:visited {
  color: var(--fore-color);
}

nav a:hover, nav a:focus, nav a:visited, nav a:visited:hover, nav a:visited:focus {
  background: none;
}

nav ul li a:after, nav ul li a:before {
  transition: all .5s;
}

nav.stroke ul li a {
  position: relative;
}

header nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--highlight-color);
  height: 3px;
  border-radius: 25px;
}

header nav.stroke ul li a:hover:after {
  width: 80%;
}

.overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  margin: 0;
  border-radius: 0;
  z-index: -10;
}    

.container {
  padding: 0;
}

.left-side {
  padding: 8vh 2vh 8vh 10vh;
}

@media only screen and (max-width: 800px) {
  .left-side {
    padding: 8vh 2vh 8vh 6vh;
  }
}

.left-side h1 {
  font-weight: bold;
  font-size: max(1.2rem, 3vw);
  margin-bottom: 2%;
}

.left-side h3 {
  font-size: max(1rem, 2vw);
  line-height: 1.5;
  margin-bottom: 5%;
}

.left-side .button {
  color: var(--back-color);
  font-weight: bold;
  text-align: center;
  font-size: max(1rem, 1.5vw);
  background-color: var(--fore-color);
  border-radius: 1.5rem;
  width: 90%;
  padding: 0.5rem 0;
  /* white-space: nowrap; */
}

.left-side .button:hover {
  background-color: var(--highlight-color);
}

.left-side .button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.left-side .button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.left-side .button:hover span {
  padding-right: 17px;
}

.left-side .button:hover span:after {
  opacity: 1;
  right: 0;
}

.players a {
  color: var(--fore-color);
}

.right-side {
  padding: 0;
}

#cross-fader {
  position: relative;
  height: 55vh;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  #cross-fader {
    height: 35vh;
  }
}

#cross-fader img {
  position: absolute;
  animation-name: fadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  height: 100%;
}

#cross-fader img:nth-of-type(1) {
  animation-delay: 4s;
}
#cross-fader img:nth-of-type(2) {
  animation-delay: 2s;
}
#cross-fader img:nth-of-type(3) {
  animation-delay: 0;
}

.tagline {
  position: absolute;
  left: 0;
  animation-name: fadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  opacity: 0;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 3.5vh;
}

.tagline:nth-of-type(2) {
  animation-delay: 4s;
}
.tagline:nth-of-type(3) {
  animation-delay: 2s;
}
.tagline:nth-of-type(4) {
  animation-delay: 0;
}

@keyframes fadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.desc-container {
  position: relative;
  /* background: #4F69C1; */
  padding-top: 5%;
}

.animate__animated.animate__fadeIn {
  animation-duration: 1.8s;
}

.right-side.animate__animated.animate__fadeIn {
  animation-delay: .3s;
}

