@import "mini-default.min.css";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import "iziToast.min.css";

:root {
  --header-fore-color: white;
  --header-back-color: #4F69C1;
  --header-border-color: #4F69C1;
  --a-link-color: white;
  --a-visited-color: white;
  --fore-color: white;
  --back-color:#384F9E
}
* {
  font-family: Quicksand, arial, sans, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 4px;

}

header .logo {
  background: #F2F2F2;
  border-radius: 17px;
  height: 2.5rem;
  padding: 5px 7px;}

header span {
  padding: 12px;
  font-weight: bold;
  float: right;
}
.left-side h1 {
  font-weight: bold;
  text-align: center;
  padding-top: 15vh;
  font-size: max(1.2rem, 4vw);
}
.left-side div {
  font-size: max(.75rem, 2vw);
  padding: 8vh 5vh;
  font-weight: bold;
}
/* .left-side div div {
  padding: 10% 0;
} */
.left-side a.button {
  color: var(--back-color);
  font-weight: bold;
  font-size: max(1rem, 2vw);
  /* height: 4rem; */
  background-color: var(--fore-color);
  border-radius: 1rem;
  width:100%;
}
.fadein-1 {
  animation: fadein 1s linear 1;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}
.fadein-2 {
  animation: fadein 1s linear 1;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}
.fadein-3 {
  animation: fadein 1s linear 1;
  animation-delay: 3s;
  opacity: 0;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.right-side {
  padding-top: 3rem;
}
#cross-fader {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}
#cross-fader img {
  position:absolute;
  left:0;
  animation-name: fadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

#cross-fader img:nth-of-type(1) {
  animation-delay: 6s;
}
#cross-fader img:nth-of-type(2) {
  animation-delay: 4s;
}
#cross-fader img:nth-of-type(3) {
  animation-delay: 2s;
}
#cross-fader img:nth-of-type(4) {
  animation-delay: 0;
}


.tagline {
  position:absolute;
  left:0;
  animation-name: fadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  opacity: 0;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 3vh;
}

.tagline:nth-of-type(2) {
  animation-delay: 6s;
}
.tagline:nth-of-type(3) {
  animation-delay: 4s;
}
.tagline:nth-of-type(4) {
  animation-delay: 2s;
}
.tagline:nth-of-type(5) {
  animation-delay: 0;
}

@keyframes fadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
